<!DOCTYPE html>
<html>
<head>
    <title> Apprendre Vue </title>
    <script src="https://unpkg.com/vue@next"></script>
</HEAD>
<BODY>

<div id="root">
    Y a rien pour le moment

    <input type="text" id="input" v-model="message">
    <p>Vous avez saisi le message suivant : {{message}}</p>
</div>
<script>
    var app = {
        data() {
            return {
                message: "Le SIO c'est rigolo mais pas trop"
            }
        }
    }
    const log = Vue.createApp(app).mount('#root')
</script>


</BODY>
</HTML>

