<!DOCTYPE html>
<html>
<head>
    <title> Apprendre Vue </title>
    <script src="https://unpkg.com/vue@next"></script>
</HEAD>
<BODY>

<div id="root">
    Y a rien pour le moment

    <ul>
        <li v-for="nom in professeurs">{{ nom }}</li>
    </ul>

</div>
<script>
    var app = {
        data() {
            return {
                professeurs: ['Vigny','Robert','Roubeau','Dams']
            }
        }
    }
    const log = Vue.createApp(app).mount('#root')
</script>


</BODY>
</HTML>

