<!DOCTYPE html>
<html>
<head>
    <title> Apprendre Vue </title>
    <script src="https://unpkg.com/vue@next"></script>
</HEAD>
<BODY>

<div id="root">
    Y a rien pour le moment

    <ul>
        <li v-for="nom in professeurs">{{ nom }}</li>
    </ul>

    <input type="text" id="input">
    <button @onclick="ajoutNom" type="button" id="button">Ajouter</button>
    
</div>
<script>
    var app = {
        data() {
            return {
                professeurs: ['Vigny', 'Robert', 'Roubeau', 'Dams']
            }
        },
        methods:{
            ajoutNom(){
                this.professeurs.push(this.nouveauNom);
            }
        }
    }
    const log = Vue.createApp(app).mount('#root')

</script>


</BODY>
</HTML>

